/* colors */
.soft-pink {
    color: rgba(255, 192, 203, 1);
}
.soft-pink_bg {
    background-color: rgba(255, 192, 203, 1);
}

.pale-blue {
    color: rgba(135, 206, 250, 1);
}
.pale-blue_bg {
    background-color: rgba(135, 206, 250, 1);
}

.light-green {
    color: rgba(144, 238, 144, 1);
}
.light-green_bg {
    background-color: rgba(144, 238, 144, 1);
}

.lavender {
    color: rgba(230, 230, 250, 1);
}
.lavender_bg {
    background-color: rgba(230, 230, 250, 1);
}

.powder-blue {
    color: rgba(176, 224, 230, 1);
}
.powder-blue_bg {
    background-color: rgba(176, 224, 230, 1);
}

.light-yellow {
    color: rgba(255, 255, 224, 1);
}
.light-yellow_bg {
    background-color: rgba(255, 255, 224, 1);
}

.light-peach {
    color: rgba(255, 229, 180, 1);
}
.light-peach_bg {
    background-color: rgba(255, 229, 180, 1);
}

.light-gray {
    color: rgba(211, 211, 211, 1);
}
.light-gray_bg {
    background-color: rgba(211, 211, 211, 1);
}