.contact {
    padding: 2rem 0;
}

.section-title {
    margin-bottom: 2rem;
    text-align: center;
    background-image: linear-gradient(70deg, #0d47a1, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contact-form {
    display: flex;
    flex-direction: column;
    border: 4px solid;
    border-image: linear-gradient(120deg, #0d47a1, transparent) 3;
    border-radius: 4px;
    padding: 2rem;
}

.contact-form .MuiOutlinedInput-root {
    border: 2px solid;
    border-image: linear-gradient(-90deg, #0d47a1, transparent) 2;
}

.submit-button {
    margin-top: 1rem;
    align-self: flex-start;
}

