.card__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
// todo fill card styles

.card {
  position: relative;
  width: 300px;
  height: 450px;
  //aside
  &__aside{
  }
  &__figure {
  }
  &__image{
  }
  //header
  &__header{}
  &__title{}
  &__subtitle{}
  //body
  &__body{}
  &__copy{}
  //footer
  &__footer{}
  &__action{
    &-btn{

    }
  }
}

.flip-card {
  position: relative;
  width: 300px;
  height: 450px;

  cursor: pointer;
  transition: 1s ease-in-out;

  &:hover {
    transform: rotateY(180deg);
  }

  &__inner {

  }
  &__front {

  }
  &__back {

  }

}
