@use "../abstracts/variables" as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: c.$black;
  overflow-x: hidden;
  font-size: 1.8rem;
  font-family: "Times New Roman";
}