@use "../abstracts/variables" as v;


@mixin heroImages($bgImg){
  background-image: url($bgImg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 100;
}

@mixin burgerBar {
  width: 100%;
  height: 4px;
  background-color: v.$them-color-light;
  position: absolute;
  border-radius: 2px;
}
