@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// NAVIGATION
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: v.$black;
  z-index: 2;

  border-bottom: v.$gold solid 2px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  &__logo {
    font-size: 3.6rem;
    color: v.$gold;
    cursor: pointer;
    p, .fa-bookmark {
      display: inline-block;
      margin: .5rem;
    }

  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    height: 80px;
    width: auto;
    transform: translateX(0);
    opacity: 1;
    background: none;
    overflow: hidden;
  }
  &__link{
    display: inline-block;
    margin-top: 1.5em;

    font-size: 2rem;
    list-style: none;
    text-transform: uppercase;
    :active,:focus, :hover {
      color: v.$dark-gold;
      transition: color 0.3s;
      translate: 0px 2px;
    }
    a{
      color: v.$gold;
      padding: 1rem;
      text-decoration: none;
    }
  }
}

.main {
  position: relative;
  top: 70px;
}

.header  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 40vh;
  color: v.$gold;
  @include m.heroImages('../img/digitization_1920.jpeg');
  filter: sepia(0.8);
  background-attachment: scroll;
  z-index: 0;
  &__heading {
    font-size: 4.8rem;
  }
  &__text {
    font-size: 1.4rem;
  }
}



//sections
.section{
  &__padding {
    padding: 6rem 0;
  }
  &__heading {
    position: relative;
    margin-bottom: 1em;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: v.$gold;
    letter-spacing: 5px;
  }
}
//
.about {
  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__text{
      margin: 0rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        color: v.$gold;
      }
    }
    &__card{
      box-shadow:  v.$gold -3px -3px 5px;

      img {
        padding: 20px;
        margin: 2rem;
        display: block;;
        width: 330px;
      }
    }
  }
}

.contact {
  &-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;


  }
  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    padding: 20px;

    h3 {
      position: relative;
      margin-top: 0;
      text-align: center;
      color: v.$gold;
    }
    p {
      color: v.$white;
      text-align: center
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}





// footer
.footer {
  text-align: center;
  color: v.$gold;
  &__padding {
    padding: 2rem 0;
  }
}