<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <title>Maurycy Woźnica</title>
</head>
<body class="bg-gray-100">
<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between">
        <div class="text-lg">Maurycy Woźnica</div>
        <div class="space-x-4">
            <a href="#background" class="hover:text-gray-300">Background</a>
            <a href="#projects" class="hover:text-gray-300">Projects</a>
            <a href="#hobbies" class="hover:text-gray-300">Hobbies</a>
            <a href="#contact" class="hover:text-gray-300">Contact</a>
            <a href="/blog" class="hover:text-gray-300">Blog</a>
        </div>
    </div>
</nav>

<div class="container mx-auto p-4">
    <section class="bg-black text-white text-center py-20 relative">
        <!-- Abstract Hero Graphic as Background -->
        <img src="/hero.png" alt="Hero Graphic" class="absolute top-0 left-0 w-full h-full object-cover opacity-70">

        <!-- Your Photo and Text Content on top -->
        <div class="relative z-10">
            <img src="/me.JPG" alt="Maurycy Woźnica" class="mx-auto rounded-full w-80 h-80 object-cover mb-4">
            <h1 class="text-4xl font-bold mb-2">Hi, I'm Maurycy Woźnica</h1>
            <p class="text-xl">DevOps Engineer | GO Programming Enthusiast | Painter | Traveler</p>
        </div>
    </section>


    <!-- Background Section -->
    <section id="background" class="my-8">
        <h2 class="text-xl font-semibold">My Short Background</h2>
        <p class="text-gray-700">Since I remember, I've enjoyed creating new things.</p>
        <p class="text-gray-700">I never had an interest in IT technologies until 2019.</p>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="my-8">
        <h2 class="text-xl font-semibold">Projects</h2>
        <p class="text-gray-700">Here are some of the projects I've worked on...</p>
        <!-- Project items -->
    </section>

    <!-- Hobbies Section -->
    <section id="hobbies" class="my-8">
        <h2 class="text-xl font-semibold">Hobbies</h2>
        <p class="text-gray-700">In my free time, I enjoy...</p>
        <!-- List hobbies -->
    </section>

    <!-- Contact Section -->
    <section id="contact" class="my-8">
        <h2 class="text-xl font-semibold">Contact</h2>
        <p class="text-gray-700">Feel free to reach out for collaborations or just to say hi!</p>
        <!-- Contact details or form -->
    </section>

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" hx-post="/clicked" hx-swap="outerHTML">
        Click Me
    </button>

    <footer class="bg-gray-800 text-white text-center p-4 mt-8">
        Footer
    </footer>
</div>
</body>
</html>
